@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Doctor";
}

<h2 class="fw-bold mb-4">Add Doctor</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post" asp-action="CreateDoctor">
    <div class="mb-3">
        <label>Name</label>
        <input required class="form-control" name="name" />
    </div>

    <div class="mb-3">
        <label>Specialty</label>
        <input required class="form-control" name="specialty" />
    </div>

    <button class="btn btn-success">Save</button>
    <a asp-action="Doctors" class="btn btn-secondary">Cancel</a>
</form>