@{
    Layout = "_Layout";
}

<head>
    <title>Patient Home Page</title>
</head>
<body>
<div>
    <h1>Patient Home Page</h1>
    <h3>
        Want to book an appointment?
        <a asp-controller="Appointment" asp-action="Book">Book Appointment</a>
    </h3>
</div>
<footer>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
</footer>
</body>