@{
    Layout = "_Layout";
}

<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Book Appointment</h1>
</div>
<footer>
    <a asp-controller="Patient" asp-action="Index">Go back</a>
</footer>
</body>