html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table thead th {
  vertical-align: middle;
  font-weight: 600;
}

.table-hover tbody tr:hover {
  background-color: #f2f6ff;
}

.shadow-sm {
  border-radius: 8px !important;
}

form .form-control {
  border-radius: 6px;
}

.btn {
  border-radius: 6px !important;
}
